<div class="container">
<div class="col-md-8 col-md-offset-2" style="text-align: center;">
    <h2>Welcome to Efitness</h2>


  
    <p>A Sinatra based Application for keeping track of your Workout, to help you achieve your health and fitness goals!</p>
  

   

  </div>
</div>
